{% extends 'base-layout.html.twig' %}

{% block aside %}
    <div class="panel panel-info">
        <div class="panel-heading">Les tags</div>
        <div class="panel-body">
            <ul class="list-inline">
                {% for tag in tags %}
                    <li>
                        <a href="{{ path('article_by_tag', {'tag' : tag.tagName}) }}">
                        {{ tag.tagName }} ({{ tag.numberOfArticles }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Archive</div>
        <div class="panel-body">
            <ul class="list-inline">
                {% for archive in archives %}
                    <li>
                        <a href="{{ path('article_by_year', {'year' : archive.year_published}) }}">
                        {{ archive.year_published }} ({{ archive.numberOfArticles }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Les auteurs</div>
        <div class="panel-body">
            <ul class="list-inline">
                {% for author in authors %}
                    <li>
                        <a href="{{ path('article_by_author', {'id' : author.id}) }}">
                        {{ author.fullName }} ({{ author.numberOfArticles }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Les plus populaires</div>
        <div class="panel-body">
            {% for article in popularArticles %}
                <div>
                    <h4>
                        <a href="{{ path('article_details', {'slug': article.slug}) }}">
                        {{ article.title }}
                        </a>
                    </h4>
                    <strong>
                        le {{ article.createdAt | date('d/m/Y') }} par {{ article.authorName }}
                        ({{ article.numberOfComments }} commentaires)
                    </strong>
                    <p>{{ article.lead }}</p>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Les derniers commentaires</div>
        <div class="panel-body">
            {% for comment in lastComments %}
                <div>
                    <strong>
                        <a href="{{ path('article_details', {'slug': comment.article.slug}) }}">
                        le {{ comment.createdAt | date('d/m/Y') }} par {{ comment.author }}
                        </a>
                    </strong>
                    <p>{{ comment.text }}</p>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block content %}

{% endblock %}