{% extends 'layouts/front-layout.html.twig' %}

{% block title %} {{ parent() }}:: Accueil {% endblock %}

{% block content %}
    <h1>Les derniers articles</h1>

    {% for article in lastArticles %}
        <article class="col-md-6">
            <h2>
                <a href="{{ path('article_details', {'slug': article.slug}) }}">{{ article.title }}</a>
            </h2>
            <p class="lead">
                par {{ article.author.fullName }}
            </p>
            <p>
                <span class="glyphicon glyphicon-time"></span>
                Publié le {{ article.createdAt | date('d/m/Y') }}
            </p>
            <hr>
            {% if article.image |length >0 %}
                <img class="img-responsive img-circle article-medium-img"
                     src="{{ asset('img/photos/'~article.image.fileName) }}" alt="{{ article.image.legend }}">
                <hr>
            {% endif %}
            <p>{{ article.lead }}</p>
            <a class="btn btn-primary"
               href="{{ path('article_details', {'slug': article.slug}) }}">
                En savoir plus
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </article>
    {% endfor %}


{% endblock %}

