{% extends 'base-layout.html.twig' %}

{% block content %}

    {{ dump(article) }}

    {{ dump(articleForm) }}

    {{ dump(test) }}

    {% if app.session.flashBag.has('warning') %}
        <div class="alert alert-danger">
            {% for message in app.session.flashBag.get('warning') %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {{ form_start(articleForm) }}
    {{ form_end(articleForm) }}
{% endblock %}

{% block aside %}

{% endblock %}

