{% extends 'layouts/front-layout.html.twig' %}

{% block content %}

    <div class="jumbotron">
        <h1>{{ article.title }}</h1>
        <div class="row">
            <div class="col-md-4">par {{ article.author.fullName }}
                le&nbsp;{{ article.createdAt | date('d/m/Y') }}</div>
            <div class="col-md-8">
                <ul class="list-inline">
                    {% for tag in article.tags %}
                        <li>{{ tag.tagName }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {% if article.image |length >0 %}

                <figure>
                    <img class="img-responsive"
                         src="{{ asset('img/photos/'~article.image.fileName) }}" alt="{{ article.image.legend }}">
                    <figcaption>
                        {{ article.image.legend }}<br>
                        crédit : {{ article.image.credit }}
                    </figcaption>
                </figure>

            {% endif %}
        </div>

        <div class="col-md-8">
            <p class="lead">{{ article.lead | purify }}</p>
            <p>{{ article.text | purify }}</p>
        </div>
    </div>

    <h2>{{ article.comments | length }} commentaires</h2>
    <div class="row">
        <div class="col-md-4">
            Formulaire ajout de commentaire
            {{ form(commentForm) }}
        </div>

        <div class="col-md-8">
            {% for comment in article.comments %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        le {{ comment.createdAt | date('d/m/Y') }} par {{ comment.author }}
                    </div>
                    <div class="panel-body">
                        <p>{{ comment.text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {{ dump(commentForm) }}
{% endblock %}